node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# custom
*.log

# Temporary - TOOD: think more about it
# We may want to sync some config but not all
.vscode/
